
body {
    background-color: #f8eae7;
}

.header {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
}

.hd__logo {
    display: flex;
    align-items: center;
}

.hd__navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.nav__link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red;
}

.nav__link:hover{
    color:white;
}


.footer{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color:#f8d9e1 ;


&__redes{
display: flex;

}

&__logo {
    width: 30%;
    height: auto;
}

&__item {
    width: 2rem;
    height: auto;
    margin-left: 1rem;
    
}}


.imagenes {
    width: 400px;
    height: auto;
}