body {
    background-color: #f8eae7;
}

.header {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
}

.hd__logo {
    display: flex;
    align-items: center;
}

.hd__navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.nav__link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: red;
    
}


.footer {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.footer__logo {
    width: 30%;
    height: auto;
}

.footer__item {
    width: 140%;
    height: auto;
}

.imagenes {
    width: 400px;
    height: auto;
}

.producto {
    margin: 0.5rem;
}

.botonComprar {
    color: blueviolet;
    background-color: black;
}

